<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  <!--<div class="container1">

  </div>
  <main>

  </main>-->

  <div class="div1">
      <header>
        <div class="logo">
          <img src="assets/images/logo.png" alt="bank open" />
        </div>
        <nav>
          <a href="#" class="myButton">Products</a>
          <a href="#" class="myButton">Solutions</a>
          <a href="#" class="myButton">Pricing</a>
          <button class="btn1">Login</button>
          <button class="btn2">GetStarted</button>
        </nav>
      </header>
    </div>
  <div class="div2">
    <div class="textbox1">
      <h1>We make it Super simple</h1>
      <p class="line1">________</p>
      <div>
        <img class="img1" src="assets/images/collect_img-video.png" />
        <img class="img2" src="assets/images/accounting_dots.png" />
      </div>
    </div>
  </div>
  <div class="div3">
    <img class="img1" src="assets/images/group6.svg" />
    <img class="img2" src="assets/images/accounting_dots.png" />
  </div>
  <div class="div4">
    <div class="box1">
      <div class="card1">
        <img src="assets/images/card1.png" alt="bank open" />
        <h1>Quick cash disbursement</h1>
        <p>Get terms loans that your business needs within 72 hrs</p>
      </div>
      <div class="card2">
        <img src="assets/images/card2.png" alt="bank open" />
        <h1>Ace your business finances</h1>
        <p>Manage banking, accounting & everything in between, on one platform</p>
      </div>
      <div class="card3">
        <img src="assets/images/card3.png" alt="bank open" />
        <h1>Low-interest rate</h1>
        <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
      </div>
      <div class="card4">
        <img src="assets/images/card4.png" alt="bank open" />
        <h1>Loans to fight COVID-19</h1>
        <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
      </div>
      <div class="card5">
        <img src="assets/images/card5.png" alt="bank open" />
        <h1>Zero Paperwork</h1>
        <p>Get started instantly by submitting only your basic details & bank statements</p>
      </div>
    </div>
    <div class="box2">
      <h1>Boost your business with Open</h1>
      <p class="line2">____</p>
      <p class="text2">Get your hands on a term loan that’s crafted for your business</p>
      <button>Get an Open Account</button>
    </div>
  </div>


</body>
</html>
