.header-container {
  background-color: transparent;
  min-height: 100px;
  margin-bottom: 30px;
}
body {
  font-family: 'Montserrat', sans-serif;
  min-height: 1900px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 10% 50% 40%;
  grid-template-columns: 45% 55%;
}
.div1{
   background-color:transparent;
   grid-row:1/2;
   grid-column:1/3;
}

.div1 header {
  font-family: 'Open Sans';
  background-color: transparent;
  min-height: 100px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div1 nav .myButton {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    font-size: 1.2rem;
    font-weight: 600;
}
.div1 nav .btn1 {
  color: rgb(166, 50, 195);
  background-color: transparent;
  border: 1px solid rgb(166, 50, 195);
  padding: 10px 25px;
  margin-right: 10px;
  border-radius: 24px;
}
.div1 nav .btn2 {
  color: white;
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  border: 1px solid black;
  padding: 10px 25px;
  border-radius: 25px;
  border-color: rgb(166, 50, 195)
}
.div2 {
  background-image: url(C:\Users\Manoj\OneDrive\Desktop\udemy\financeApp\src\assets\images\blob-small.png);
  background-repeat: no-repeat;
  background-position: -222px 12px;
  background-color: transparent;
}
.div2 .textbox1 {
    position: static;
    margin-top: 80px;
    margin-left: 80px;
    width: 600px;
}
  .div2 .textbox1 h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-left: 80px;
    width: 70%
  }
.div2 .textbox1 .line1 {
      padding-left: 80px;
      color: black;
      font-size: 50px;
      font-weight: 700;
}
  .div2 .textbox1 .img1 {
      margin-top: 100px;
      margin-left: 20px;
      width: 90%;
      position: relative;
      top: 40px;
  }
    .div2 .textbox1 .img2 {
      z-index: +1;
      position: relative;
      width: 402px;
      left: 265px;
    }

.div3 {
  background-image: url(C:\Users\Manoj\OneDrive\Desktop\udemy\financeApp\src\assets\images\circle.svg);
  background-repeat: no-repeat;
  background-position: 11px -147px;
  background-color: transparent;
  background-size:950px;
  grid-row: 1/3;
  grid-column: 2/3;
  text-align:center;
  position:static;
}
  .div3 .img1 {
    margin-top: 300px;
    position: relative;
    margin-left: 10%;
    height: auto;
    max-width: 75%;
  }
  .div3 .img2 {
    position: relative;
    z-index: -1;
    left: 215px;
    width: 350px;
    bottom: 50px;
  }

.div4 {
  background-image: url(C:\Users\Manoj\OneDrive\Desktop\udemy\financeApp\src\assets\images\sol_wave_bg.png);
  background-color: transparent;
  grid-row: 3/4;
  grid-column: 1/3;
  display:grid;
  grid-template-columns:60% 40%;
}
  .div4 .box1 {
    background-color:transparent;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    margin-left: 140px;
    margin-right: 40px;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
  }
.card1, .card3, .card5 {
  border-radius:20px;
  background-color: #F9F9F9;
  box-shadow: 0px 0px 30px #2321321F;
  padding: 20px;
}
.card2 {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(125, 39, 137,0.7);
  box-shadow: 0px 0px 30px #2321321F;
  transform: translate(0px, 110px);
}

.card4 {
  border-radius: 20px;
  transform: translate(0px, 110px);
  background-color: #F9F9F9;
  box-shadow: 0px 0px 30px #2321321F;
  padding: 20px;
}
.box1 h1 {
  padding-top:10px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.box1 p {
  font-size: 15px;
  margin-top: 15px;
  font-weight:400;
  color: #999999;
  font-family: 'Montserrat', sans-serif;
}
.card2 h1, .card2 p {
  color: #FFFFFF
}


.div4 .box2 {
  background-color: transparent;
  padding:30px;
}
.div4 .box2 h1{
    font-size:30px;
    font-weight:500;
    width:60%;
    margin-top:180px;
}
.div4 .box2 .line2 {
    color: #707070;
    font-size: 50px;
    font-weight: 700;
  }
  .div4 .box2 .text2 {
    font-size: 15px;
    font-weight: 400;
    width: 50%;
    padding-top: 10px;
    color: #777777;
  }
  .div4 .box2 button {
    color: rgb(166, 50, 195);
    font-size:15px;
    margin-top: 80px;
    background-color: transparent;
    border: 1px solid rgb(166, 50, 195);
    padding: 20px 30px;
    border-radius: 25px;
    width:40%;
  }
